    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
    * {
        margin: 0;
        font-family: "Quicksand";
        color: #333;
    }
    
    .navbar {
        padding: 20px;
        display: flex;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
        border-bottom: 1px solid #f2f2f2;
    }
    
    .navbar h1 {
        color: #ac35f1;
    }
    
    .navbar .links {
        margin-left: auto;
    }
    
    .navbar a {
        margin-left: 16px;
        text-decoration: none;
        padding: 6px;
    }
    
    .navbar a:hover {
        /* color: #f1356d; */
        color: white;
        background-color: #ac35f1;
        border-radius: 5px;
    }
    
    .content {
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
    }
    
    button {
        margin-top: 1em;
        background-color: #ac35f1;
        color: white;
        border-color: transparent;
        border-radius: 5px;
        padding: 0.25em;
    }
    /* blog previews / list */
    
    .blog-preview {
        padding: 10px 16px;
        margin: 20px 0;
        border-bottom: 1px solid #fafafa;
    }
    
    .blog-preview:hover {
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
    }
    
    .blog-preview h2 {
        font-size: 20px;
        color: #ac35f1;
        margin-bottom: 8px;
    }
    
    .blog-preview h2:hover {
        color: #8004c9;
    }
    
    .blog-preview a {
        text-decoration: none;
    }
    
    .blog-note {
        color: #ac35f1;
        margin-top: 2em;
    }
    
    .error-message {
        color: #f1356d;
    }
    
    .blog-detail-title {
        color: #ac35f1;
        margin-bottom: 1em;
    }
    
    .blog-detail-author {
        font-weight: bold;
        margin-bottom: 1em;
    }
    /* ovde ide property za formu */
    
    .create {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    
    .create label {
        text-align: left;
        display: block;
    }
    
    .create h2 {
        font-size: 20px;
        color: #ac35f1;
        margin-bottom: 30px;
    }
    
    .create input,
    .create textarea,
    .create select {
        width: 100%;
        padding: 6px 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        box-sizing: border-box;
        display: block;
    }
    
    .create button {
        background: #ac35f1;
        color: #fff;
        border: 0;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
    }
    
    .create button:hover {
        background: #9305e6;
    }
    /* dovde */
    
    .input-preview p {
        margin: 1em auto;
    }
    /* ispod ide property za dugme brisanja bloga */
    
    .blog-delete-button {
        margin-top: 3em;
        background-color: #f1356d;
        color: white;
        border-color: transparent;
        border-radius: 5px;
        padding: 0.25em;
    }
    
    .blog-delete-button:hover,
    .blog-delete-button:active {
        background-color: #af0437;
    }
    /* DOVDE */
    
    .body-preview {
        word-wrap: break-word;
        width: 100%;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(233, 229, 229);
        text-align: center;
        padding: 0.5em 0;
    }